.seccion-perfil {
  margin: 0 auto;
  width: auto;
  max-width: 1700px;
}
.contenedor-perfil {
  width: 100%;
  margin: 0 auto;
  padding: 35px;
  position: relative;
}
.contenedor-perfil button {
  position: absolute;
  top: 15px;
  right: 10px;
}
.form-perfil {
  margin-top: 40px;
  margin-right: 0px;
}
.flex-3 .campo {
  flex: 0 1 calc(33.3333% - 5px);
}
.flex-2 .campo {
  flex: 0 1 calc(50% - 5px);
}

.form-perfil .campo {
  margin-bottom: 20px;
  width: auto;
}
.form-perfil .campo {
  min-width: 160px;
  margin-right: 0px;
}
.form-perfil .campo:last-of-type {
  margin-right: 0px;
}
.form-perfil .label-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}
.form-perfil .label-container label {
  font-size: 13px;
  position: relative;
  top: unset;
  left: unset;
  font-weight: bold;
}

.input-container {
  position: relative;
}
.input_perfil {
  font-size: 1.125rem;
  width: 100%;
  padding: 12px 30px 12px 10px;
  border: none;
  border-bottom: 1px solid #888;
}
.input_perfil:disabled {
  border-bottom: 1px solid rgba(118, 118, 118, 0.3);
  color: rgb(120, 120, 120);
  background-color: rgba(239, 239, 239, 0.3);
  opacity: 1;
}

.input-container i {
  position: absolute;
  font-size: 18px;
  left: unset;
  right: 10px;
  margin-top: -9px;
  top: 50%;
}
.input-container select ~ i {
  right: 20px;
}
.nacimiento-alumno .mes {
  min-width: 155px;
}
.nacimiento-alumno .año {
  min-width: 102px;
}
.nacimiento-alumno .dia {
  min-width: 82px;
}

@media (min-width: 425px) {
  .contenedor-perfil {
    padding: 50px;
  }
}
@media (min-width: 768px) {
  .contenedor-perfil > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contenedor-perfil h1 {
    margin: 0px;
  }
  .contenedor-perfil button {
    position: static;
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }
  .form-perfil .campo {
    width: fit-content;
  }
  .cinta {
    width: 66.6666%;
  }
  .campo.tutor {
    width: 66.6666%;
  }
  .campo.telefono {
    width: 33.3333%;
  }
}
@media (min-width: 920px) {
  .nacimiento-alumno {
    width: 66.6666%;
  }
  .cinta {
    width: 66.6666%;
  }
  .campo.tutor {
    width: 66.6666%;
  }
}
@media (min-width: 1024px) {
  .form-perfil {
    margin-right: 30%;
  }
  .form-perfil .campo {
    margin-right: 10px;
  }
}
@media (min-width: 1440px) {
  .nacimiento-alumno {
    width: 50%;
  }
  .cinta {
    width: 50%;
  }
  .campo.tutor {
    width: 50%;
  }
  .campo.telefono {
    width: 33.3333%;
  }
}
input[type='submit']:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}
